<div class="uk-child-width-expand@s" uk-grid>
  <div>
    <h4>EARL Workshop</h4>
    <p>
      The workshop will be held on <a href="https://recsys.acm.org/recsys24/">RecSys 2024</a>.
    </p>
    <p>
      <img alt="RecSys" src="/img/recsys_logo.png">
    </p>
  </div>

  <div>
    <h4>SUPPORTERS</h4>
    <h6>SILVER SUPPORTER</h6>
      <img alt="Smartor" src="/img/smartor_logo.png" width="180" height="50">
    <h6>BRONZE SUPPORTER</h6>
      <img alt="Baidu" src="/img/baidu_logo.png" width="190" height="50">
  </div>

  <div>
    <h4>CONTACT</h4>
    <p>
      <a href="mailto: ireneli@ds.itc.u-tokyo.ac.jp"> ireneli@ds.itc.u-tokyo.ac.jp</a>, <a href="mailto: ruihai.dong@ucd.ie"> ruihai.dong@ucd.ie</a>
      
    </p>
  </div>
</div>
