<div class="uk-child-width-expand@s" uk-grid>
  <div>
    <h4>EARL Workshop</h4>
    <p>
      The workshop will be held on <a href="https://recsys.acm.org/recsys25/">RecSys 2025</a>.
    </p>
    <p>
      <img alt="RecSys" src="/img/recsys_logo.png">
    </p>
  </div>

  <div>
    <h4>SUPPORTERS</h4>
    <h5>SILVER SUPPORTER</h5>
      <img alt="Smartor" src="/img/smartor_logo.png" width="180" height="50">
{#    <h5>BRONZE SUPPORTER</h5>#}
{#      <img alt="Baidu" src="/img/baidu_logo.png" width="190" height="50">#}
  </div>

  <div>
    <h4>CONTACT</h4>
    <p>
      <a href="mailto: irene.li@weblab.t.u-tokyo.ac.jp"> irene.li@weblab.t.u-tokyo.ac.jp</a>, <a href="mailto: ruihai.dong@ucd.ie"> ruihai.dong@ucd.ie</a>
      
    </p>
  </div>
  <div>
    <h4>PREVIOUS WORKSHOPS</h4>
    <p>
        <a href="{{ get_url(path="/earl2024") }}">EARL 2024</a>
    </p>
  </div>
</div>
