<script>
  dayjs.extend(window.dayjs_plugin_utc)
</script>

<table class="uk-table uk-table-small uk-table-justify">
  <tbody>
    {% set data = load_data(path="content/schedule.yaml") %}
    {% for day in data.schedule %}
        <tr>
          <td colspan="2" style="text-align: center;">
            &nbsp;
            <br>
            <b>{{ day.title }}</b>
          </td>
        </tr>
      {% for session in day.sessions %}
        <tr>
          <td class="uk-width-1-5">
            {{ session.starts }}
            -
            {{ session.ends }}
          </td>
          <td class="uk-width-4-5">
            {% if session.url %}
              <a href="{{ session.url }}" target="_blank">{{ session.title }}</a>
            {% else %}
              {{ session.title }}
            {% endif %}
            {% if session.subtitle %}
              <div class="uk-text-small">
                {{ session.subtitle | markdown(inline=true) | safe }}
              </div>
            {% endif %}
            {% if session.presenters %}
              <div class="uk-text-small">
                Presenters: {{ session.presenters | markdown(inline=true) | safe }}
              </div>
            {% endif %}
            {% if session.speaker %}
              <div class="uk-text-small">
                Speaker: {{ session.speaker | markdown(inline=true) | safe }}
              </div>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    {% endfor %}
  </tbody>
</table>
